html {
    font-size: 2.5vi;

    @media (min-width: ($font-size-max * 40)) {
        font-size: $font-size-max;
    }

    @media (max-width: ($font-size-min * 40)) {
        font-size: $font-size-min;
    }
}
