label {
    display: block;
}

%inputBase {
    border: 1px solid $color-border;
    padding-block: 0.3em;
    padding-inline: 0.75em;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.8;
}

input,
textarea,
select {
    @extend %inputBase;
    background: $color-bg;
    color: $color-fg;

    &:focus-visible {
        border-color: $color-link-focus;
    }
    &:disabled {
        border-color: $color-border;
        background: $color-bg-tint;
        color: $color-border;
        cursor: not-allowed;
    }
}

textarea {
    line-height: inherit;
}

@mixin button-color($color, $color-contrast, $color-focus) {
    border-color: $color;
    background: $color;
    color: $color-contrast;

    &:hover, &:focus-visible {
        border-color: mix($color, $color-focus, 50%);
        background: mix($color, $color-focus, 50%);
        color: $color-contrast;
    }
    &:active {
        border-color: $color-focus;
        background: $color-focus;
        color: $color-contrast;
    }
    &:disabled {
        border-color: mix($color, $color-contrast, 50%);
        background: mix($color, $color-contrast, 50%);
        color: mix($color, $color-contrast, 10%);
        cursor: not-allowed;
    }
}

.button,
button,
[type=button],
[type=submit] {
    @extend %inputBase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 0.3em;

    @include button-color($color-link, $color-bg, $color-link-focus);
}

input[type="file"]::file-selector-button {
    @extend %inputBase;
    background: $color-bg-tint;
    color: $color-fg;
    border: 0;
    cursor: pointer;

    margin-block: -0.3em;
    margin-inline: -0.75em 0.75em;
    border-inline-end: 1px solid $color-border;
}
input[type="file"]:disabled::file-selector-button {
    background: transparent;
    color: inherit;
    cursor: not-allowed;
}
