label {
    display: block;
}

%inputBase {
    border: 1px solid $color-border;
    padding-block: 0.3em;
    padding-inline: 0.75em;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.8;
}

input,
textarea,
select {
    @extend %inputBase;
    background: $color-bg;
    color: $color-fg;

    &:focus-visible {
        border-color: $color-link-focus;
    }
    &:disabled {
        border-color: $color-border;
        background: $color-bg-tint;
        color: $color-border;
        cursor: not-allowed;
    }
}

textarea {
    line-height: inherit;
}

@keyframes color-link {
    from {
        border-color: $color-link;
        background: $color-link;
        color: $color-bg;
    }
    to {
        border-color: $color-link-focus;
        background: $color-link-focus;
        color: $color-bg;
    }
}

.button,
button,
[type=button],
[type=submit] {
    @extend %inputBase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 0.3em;

    animation: 100s color-link linear forwards paused;

    &:hover, &:focus-visible {
        animation-delay: -50s;
    }
    &:active {
        animation-delay: -100s;
    }
    &:disabled {
        animation-delay: 0s;
        opacity: 0.6;
        cursor: not-allowed;
    }
}

input[type="file"]::file-selector-button {
    @extend %inputBase;
    background: $color-bg-tint;
    color: $color-fg;
    border: 0;
    cursor: pointer;

    margin-block: -0.3em;
    margin-inline: -0.75em 0.75em;
    border-inline-end: 1px solid $color-border;
}
input[type="file"]:disabled::file-selector-button {
    background: transparent;
    color: inherit;
    cursor: not-allowed;
}
