// colors

$color-bg: #fff !default;
$color-fg: #333 !default;
$color-bg-tint: mix($color-bg, $color-fg, 95%) !default;
$color-border: mix($color-bg, $color-fg, 60%) !default;
$color-link: #06f !default;
$color-link-focus: mix($color-link, $color-fg, 50%) !default;
$color-invalid: red !default;

// lengths
$font-size-min: 0.9em !default;
$font-size-max: 1.2em !default;
$padding: 0.5em !default;
$spacer: 1em !default;
$indentation: 1.5rem !default;
