:root {
    // colors
    --color-bg: #fff;
    --color-fg: #333;
    --color-bg-tint: #f5f5f5;
    --color-border: #888;
    --color-link: #26c;
    --color-link-focus: #248;

    // lengths
    --font-size-min: 0.9em;
    --font-size-max: 1.2em;
    --padding: 0.5em;
    --spacer: 1em;
    --indentation: 1.5rem;
    --width: 37em;
}
