*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

img,
video {
  max-inline-size: 100%;
}

p, address, blockquote, pre, table, dl, ul, ol, figure, fieldset {
  margin-block: 0 1em;
}

html {
  overflow-y: scroll;
  background-color: #fff;
  color: #333;
  font-size: 1.2em;
  font-family: sans-serif;
  line-height: 1.5;
  accent-color: #26c;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-block: 0 0.8rem;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-block-start: 1.5em;
}

:link,
:visited {
  color: #26c;
  text-decoration: underline;
}
:link:hover, :link:focus-visible, :link:active,
:visited:hover,
:visited:focus-visible,
:visited:active {
  color: #2b4d80;
}

hr {
  border: 0;
  border-block-end: 1px solid #8f8f8f;
  margin-block: 1em;
}

pre, code {
  font-size: 90%;
  font-family: monospace;
  background-color: whitesmoke;
}

code {
  padding-inline: 0.25em;
}

pre {
  padding: 0.5em;
  overflow: auto;
  border: 1px solid #8f8f8f;
}
pre code {
  background: none;
  font-size: 100%;
  padding: 0;
}

ol, ul {
  padding-inline-start: 1.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1.5rem;
}

blockquote {
  font-style: italic;
  margin-inline: 1.5rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border-bottom: 1px solid #8f8f8f;
}

td, th {
  text-align: start;
  padding: 0.25em;
  vertical-align: top;
}

textarea,
select[multiple] {
  resize: vertical;
}

sub, sup {
  line-height: 0;
}

@media print {
  html {
    background: transparent;
    color: #000;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
body {
  margin-block: 2em;
  margin-inline: auto;
  max-inline-size: 37em;
  padding-block: 0;
  padding-inline: 0.5em;
}

html {
  font-size: 2.5vw;
}
@media (min-width: 48em) {
  html {
    font-size: 1.2em;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 0.9em;
  }
}

label {
  display: block;
}

.button,
button,
[type=button],
[type=submit], input,
textarea,
select {
  border: 1px solid #8f8f8f;
  padding-block: 0.3em;
  padding-inline: 0.75em;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.8;
}

input,
textarea,
select {
  background: #fff;
  color: #333;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  border-color: #2b4d80;
}
input:disabled,
textarea:disabled,
select:disabled {
  border-color: #8f8f8f;
  background: whitesmoke;
  color: #8f8f8f;
  cursor: not-allowed;
}

textarea {
  line-height: inherit;
}

.button,
button,
[type=button],
[type=submit] {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3em;
  border-color: #26c;
  background: #26c;
  color: #fff;
}
.button:hover, .button:focus-visible,
button:hover,
button:focus-visible,
[type=button]:hover,
[type=button]:focus-visible,
[type=submit]:hover,
[type=submit]:focus-visible {
  border-color: #275aa6;
  background: #275aa6;
  color: #fff;
}
.button:active,
button:active,
[type=button]:active,
[type=submit]:active {
  border-color: #2b4d80;
  background: #2b4d80;
  color: #fff;
}
.button:disabled,
button:disabled,
[type=button]:disabled,
[type=submit]:disabled {
  border-color: #91b3e6;
  background: #91b3e6;
  color: #e9f0fa;
  cursor: not-allowed;
}

html {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

/*# sourceMappingURL=example.css.map */
