@viewport {
    width: device-width;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    max-width: 100%;
}

p, address, blockquote, pre, table, dl, ul, ol, figure, fieldset {
    margin-top: 0;
    margin-bottom: $spacer;
}

html {
    overflow-y: scroll;
    background-color: $color-bg;
    box-sizing: border-box;
    color: $color-fg;
    font-size: $font-size-max;
    font-family: sans-serif;
    line-height: 1.4;
}
body {
    margin: 2em auto;
    max-width: 36em;
    padding: 0 $padding;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: 0.8rem;
    margin-top: 1.5 * $spacer;
}

a {
    color: $color-link;
    text-decoration: underline;

    &:hover, &:focus, &:active {
        color: $color-link-focus;
    }
}

*::selection {
    background: $color-link;
    color: $color-bg;
}

hr {
    border: 0;
    border-bottom: 1px solid $color-border;
    margin: $spacer 0;
}

pre, code {
    font-size: 90%;
    font-family: monospace;
    background-color: $color-bg-tint;
}
code {
    padding: 0 0.25em;
}
pre {
    padding: $padding;
    overflow: auto;
    border: 1px solid $color-border;

    code {
        background: none;
        font-size: 100%;
        padding: 0;
    }
}

ol, ul {
    padding-left: $indentation;

    li > :last-child {
        margin-bottom: 0;
    }
    li {
        line-height: 1.4;
    }
}
dt {
    font-weight: bold;
}
dd {
    margin-left: $indentation;
}

blockquote {
    font-style: italic;
    margin-left: $indentation;
    margin-right: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
        text-align: start;
        padding: $padding;
        border-top: 1px solid $color-border;
        vertical-align: top;
    }
}

textarea {
    resize: vertical;
}

fieldset {
    border: 1px solid $color-border;
}

@media print {
    html {
        background: transparent;
        color: #000;  // Black prints faster:
    }

    h2, h3 {
        page-break-after: avoid;
    }
}
