// colors

$color-bg: #fff;
$color-fg: #333;
$color-bg-tint: #f3f3f3;
$color-border: #aaa;
$color-link: #0275d8;
$color-link-focus: #014c8c;
$color-invalid: red;
$font-size-min: 0.9em;
$font-size-max: 1.2em;

// lengths
$padding: 0.5em;
$spacer: 1em;
$indentation: 2rem;
